body {
    font-family: Arial, sans-serif;
    background-color: #0F1727;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 360px;
    margin: 6rem auto;
    background-color: #ce6969;
    padding: 20px;
    border-radius: 5px;
    height: 26rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: 550;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button-container {
    text-align: center;
    margin-top: 2rem;
  }
  
  .button-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup {
    position: fixed;
    height: 16rem;
    font-size: 2rem;
    color: rgb(11, 26, 39);
    width: 26rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom right, #34b7ce, #0b5b6a);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1; 
  }
  
  .popup.hidden {
    display: none;
  }

  .pass{
    margin-top: 3rem;
    font-weight: 200 !important; 
  }