html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*::after,*::before{
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-size:1.6rem;
  background-color: blue;
  background-color: #0F1727;
}